	<config>
		<ancho>800</ancho>
		<alto>600</alto>
		<cant_players>4</cant_players>
	</config>
	
	<sprites>
		<sprite>
			<id>MARCO</id>
			<pathColor>sprites/player/marco.png</pathColor>
            <pathGrey>sprites/player/marcoGrisado.png</pathGrey>
			<pathWeapons>sprites/player/armas.png</pathWeapons>
			<ancho>100</ancho>
			<alto>100</alto>
			<cantWidthFrames>15</cantWidthFrames>
			<cantHeightFrames>12</cantHeightFrames>
			<speed>10</speed>
		</sprite>
		<sprite>
			<id>TARMA</id>
			<pathColor>sprites/player/tarma.png</pathColor>
            <pathGrey>sprites/player/tarmaGrisado.png</pathGrey>
            <pathWeapons>sprites/player/armas.png</pathWeapons>
            <ancho>100</ancho>
			<alto>100</alto>
			<cantWidthFrames>15</cantWidthFrames>
			<cantHeightFrames>12</cantHeightFrames>
			<speed>10</speed>
		</sprite>
		<sprite>
			<id>FIO</id>
			<pathColor>sprites/player/fio.png</pathColor>
            <pathGrey>sprites/player/fioGrisado.png</pathGrey>
            <pathWeapons>sprites/player/armas.png</pathWeapons>
			<ancho>100</ancho>
			<alto>100</alto>
			<cantWidthFrames>15</cantWidthFrames>
			<cantHeightFrames>12</cantHeightFrames>
			<speed>10</speed>
		</sprite>
		<sprite>
			<id>ERI</id>
			<pathColor>sprites/player/eri.png</pathColor>
            <pathGrey>sprites/player/eriGrisado.png</pathGrey>
            <pathWeapons>sprites/player/armas.png</pathWeapons>
            <ancho>100</ancho>
			<alto>100</alto>
			<cantWidthFrames>15</cantWidthFrames>
			<cantHeightFrames>12</cantHeightFrames>
			<speed>10</speed>
		</sprite>
	</sprites>
	<backgrounds>
		<background>
			<id>BACKGROUND_Z0</id>
			<imagen_fondo>sprites/backgrounds/nub.png</imagen_fondo>
			<ancho>4000</ancho>
			<alto>500</alto>as
		</background>
		<background>
			<id>BACKGROUND_Z1</id>
			<imagen_fondo>sprites/backgrounds/final.bmp</imagen_fondo>
			<ancho>8192</ancho>
			<alto>500</alto>
		</background>
		<background>
			<id>BACKGROUND_Z2</id>
			<imagen_fondo>sprites/backgrounds/front.bmp</imagen_fondo>
			<ancho>5000</ancho>
			<alto>600</alto>
		</background>
	</backgrounds>

